html,
body {
    margin: 0;
    padding: 0;
}
html {
    background-color: #e3e3db;
    color: #333;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}
body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'DE3 Display Egyptian';
    font-size: 160%;
    padding: 0 16px 16px;
}
/*
    Font weight utility classes, just in case
    .f-thin       { font-family: 'DE1 Display Egyptian Thin', Georgia, serif; font-weight: normal; }
    .f-light      { font-family: 'DE2 Display Egyptian Light', Georgia, serif; font-weight: normal; }
    .f-semibold   { font-family: 'DE5 Display Egyptian Semibold', Georgia, serif; font-weight: normal; }
    .f-bold       { font-family: 'DE6 Display Egyptian Bold', Georgia, serif; font-weight: normal; }
*/

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

header {
    height: 87px;
    padding-top: 4px;
    overflow: hidden;
}
h1 {
    font-family: 'DE6 Display Egyptian Bold', Georgia, serif;
    font-size: 3rem;
    line-height: 1;
    color: #951C55;
    float: left;
}
.header-right {
    padding-top: 1rem;
    float: right;
}
.wrapper {
    position: relative;
    overflow: hidden;
    display: block;
}
.boxes {
    overflow: hidden;
}
.box {
    background-color: #FBFBF3;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 4px solid #e3e3db;
    border-top: 8px solid #e3e3db;
    border-left: 4px solid #e3e3db;
}
.box__inner {
    border: 2px solid rgba(255, 255, 255, .5);
}
.box__header {
    padding: 6px;
}
.box__section {
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: 'DE2 Display Egyptian Light', Georgia, serif;
}
.box__section a {
    color: #f07823;
}
.box__body {
    margin-left: -2px;
    margin-right: -2px;
}
.box__action {
    display: block;
}
.box__title {
    padding-left: 8px;
    padding-right: 8px;
    min-height: 95px;
    margin-bottom: 8px;
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-family: 'DE2 Display Egyptian Light', Georgia, serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.box__media {
    padding-bottom: 60%;
    overflow: hidden;
    position: relative;
}
.box__media img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
.box__foot {
    padding: 8px 6px;
    font-family: 'DE5 Display Egyptian Semibold', Georgia, serif;
    line-height: 1;
}
.box__foot a {
    color: #0089C8;
}

.aside {
    display: none;
    background-color: #EFEFE7;
    border: 2px solid rgba(255, 255, 255, .25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.aside__title {
    height: 32px;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: 'DE1 Display Egyptian Thin', Georgia, serif;
    color: #f07823;
    padding: 6px
}
.aside__body {
    padding: 0 6px;
    position: absolute;
    top: 32px;
    bottom: 8px;
    font-family: 'DE2 Display Egyptian Light', Georgia, serif;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.native-touch-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.list__item {
    min-height: 28px;
}
.list__item + .list__item {
    margin-top: 16px;
}
.list__action {
    display: block;
}

@media (orientation: landscape) {
    .wrapper {
        border-right: 4px solid #e3e3db;
    }
    .boxes {
        float: left;
        width: 75%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-right: 4px solid #e3e3db;
    }
    .box + .box + .box .box__title {
        -webkit-line-clamp: 4;
        min-height: 128px;
    }
    .box + .box + .box .box__media {
        display: none;
    }
    .aside {
        display: block;
        width: 25%;
        position: absolute;
        top: 8px;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
}
