@(box: lib.Box)
<div class="box">
    <div class="box__inner">
        <div class="box__header">
            <h2 class="box__section"><a href="@box.webUrl">@Html(box.title)</a></h2>
        </div>
        <div class="box__body">
            <a href="@box.story.webUrl" class="box__action">
                <h3 class="box__title">@Html(box.story.title)</h3>
                <div class="box__media">
                    @for(imageUri <- box.story.imageUri) {
                        <img src="@imageUri" alt="@Html(box.story.title)" />
                    }
                </div>
            </a>
        </div>
    </div>
</div>
