@(news: Option[lib.Story], sport: Option[lib.Story], technology: Option[lib.Story], comment: Option[lib.Story], mostViewed: Seq[lib.Story])
@import views.html.tags.box

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>From theguardian.com</title>
    <meta content="width=device-width; user-scalable=no; initial-scale=1.0; maximum-scale=1.0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black-translucent" names="apple-mobile-web-app-status-bar-style" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
</head>
<body>
    <header class="header" role="banner">
        <h1>On the website</h1>

        <div class="header__right">
            <a class="header__action header__action--visittheguardian" href="">Visit theguardian.com</a>
            <a class="header__action header__action--refresh" href="gceRefresh:/refresh"><span class="last-updated">31.10.13 15:39</span></a>
        </div>
    </header>
    <main class="wrapper">
        <div class="boxes">
            @box("News", news)
            @box("Sport", sport)
            @box("Technology", technology)
            @box("Comment is Free", comment)
        </div>
        <div class="aside">
            <h2 class="aside__title">Most read</h2>

            <div class="aside__body native-touch-scroll">
                <ul class="list">
                @for(story <- mostViewed.take(10)) {
                    <li class="list__item"><a href="@story.webUrl" class="list__action">@story.title</a></li>
                }
                </ul>
            </div>
        </div>
    </main>
</body>
</html>
