@(news: Option[lib.Story], sport: Option[lib.Story], technology: Option[lib.Story], comment: Option[lib.Story], mostViewed: Seq[lib.Story])
@import views.html.tags.box

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>From theguardian.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
</head>
<body>
    <header role="banner">
        <h1>On the website</h1>

        <div class="header-actions">
            <a href="">
                Visit theguardian
                <i class="i i-theguardian"></i>
            </a>
            <a href="">Refresh</a>
        </div>
    </header>
    <div class="boxes">
        @box("News", news)
        @box("Sport", sport)
        @box("Technology", technology)
        @box("Comment is Free", comment)
    </div>
    <div class="aside">
        <h2>Most read</h2>
        <ul>
        @for(story <- mostViewed.take(10)) {
            <li><a href="@story.webUrl">@story.title</a></li>
        }
        </ul>
    </div>
</body>
</html>
